benchmarks/live/manifests/aws-cloudformation__cfn-lint-4051.json
{"base_commit":"1863011580c054a6bffa6b94bd0d876df393da35","benchmark_id":"swe_bench_live","created_at":"2025-03-24T20:05:45Z","environment_ref":"starryzhang/sweb.eval.x86_64.aws-cloudformation_1776_cfn-lint-4051","issue_id":"4051","issue_text":"Step Functions JSONata isn't fully supported (E3601)\n### CloudFormation Lint Version\n\n1.32.0\n\n### What operating system are you using?\n\nMac\n\n### Describe the bug\n\nThe CF template was constructed from YAML export from Step Functions editor. Below E3601 errors shown:\n\n```\nE3601 Only one of ['And', 'BooleanEquals', 'BooleanEqualsPath', 'IsBoolean', 'IsNull', 'IsNumeric', 'IsPresent', 'IsString', 'IsTimestamp', 'Not', 'NumericEquals', 'NumericEqualsPath', 'NumericGreaterThan', 'NumericGreaterThanPath', 'NumericGreaterThanEquals', 'NumericGreaterThanEqualsPath', 'NumericLessThan', 'NumericLessThanPath', 'NumericLessThanEquals', 'NumericLessThanEqualsPath', 'Or', 'StringEquals', 'StringEqualsPath', 'StringGreaterThan', 'StringGreaterThanPath', 'StringGreaterThanEquals', 'StringGreaterThanEqualsPath', 'StringLessThan', 'StringLessThanPath', 'StringLessThanEquals', 'StringLessThanEqualsPath', 'StringMatches', 'TimestampEquals', 'TimestampEqualsPath', 'TimestampGreaterThan', 'TimestampGreaterThanPath', 'TimestampGreaterThanEquals', 'TimestampGreaterThanEqualsPath', 'TimestampLessThan', 'TimestampLessThanPath', 'TimestampLessThanEquals', 'TimestampLessThanEqualsPath'] is a required property\ntest1.yml:14:17\n\nE3601 Additional properties are not allowed ('Output' was unexpected)\ntest1.yml:21:13\n\nE3601 Additional properties are not allowed ('Arguments' was unexpected)\ntest1.yml:27:13\n```\n\n### Expected behavior\n\nNo lint errors\n\n### Reproduction template\n\n```yaml\nAWSTemplateFormatVersion: \"2010-09-09\"\nResources:\n  StateMachine:\n    Type: AWS::StepFunctions::StateMachine\n    Properties:\n      RoleArn: arn:aws:iam::123456789123:role/myRole\n      Definition:\n        Comment: Reading messages from an SQS queue and iteratively processing each message.\n        QueryLanguage: JSONata\n        StartAt: Read messages from SQS queue\n        States:\n          Are there messages to process?:\n            Choices:\n              - Condition: '{% $exists($states.input.Messages) %}'\n                Next: Pass\n            Default: Finish\n            Type: Choice\n          Pass:\n            Type: Pass\n            Next: Finish\n            Output: '{% $states.input %}'\n            Assign:\n              timestamp: '{% $now() %}'\n          Finish:\n            Type: Succeed\n          Read messages from SQS queue:\n            Arguments:\n              AttributeNames:\n                - All\n              MaxNumberOfMessages: 10\n              QueueUrl: https://sqs.us-east-1.amazonaws.com/123456789123/myQueue\n              VisibilityTimeout: 30\n              WaitTimeSeconds: 20\n            Next: Are there messages to process?\n            Resource: arn:aws:states:::aws-sdk:sqs:receiveMessage\n            Type: Task\n```\n","issue_title":"Step Functions JSONata isn't fully supported (E3601)","labels":["fail_to_pass_count:2","live","pass_to_pass_count:1396","repo:aws-cloudformation/cfn-lint"],"language":"python","official_test_entrypoint":"python -m pytest test/unit/rules/resources/stepfunctions/test_state_machine_definition.py::test_validate","repo_name":"aws-cloudformation/cfn-lint","schema_version":1,"source_url":"https://huggingface.co/datasets/SWE-bench/SWE-bench-Live","task_id":"aws-cloudformation__cfn-lint-4051"}
